
#text1 {
    border: 5px outset red;
    text-align: center;
}

#titre {
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: lighter;
    color: rgba(36,71,77,1);
}