
#text1 {
    text-align: center;
}

#titre {
    margin-top: 1rem;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: lighter;
    color: rgba(36,71,77,1);
}