#btn-create {
    float: right;
}

.Name_Form{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    margin-bottom:  10px;
    border-radius: 10px;
    border-top: 10px solid blue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.NomFormulaire{
    margin-top: 5px;
    height: 80px;
    border: none;
    resize : none;
    border-radius: 10px;
    font-size: 2.5rem;
    outline:none;
    width: 100%;
}

.div_question {
    background-color: white;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    margin-top: 1rem;
}

.title_question {
    background-color: rgba(211,216,204,0.15);
    margin-left: 2px;
    margin-bottom: 5px;
}

.add_option {
    margin-left: 20px;
    font-size: 2.4rem;
}

.add_option:hover {
    cursor: pointer;
}

#Add_Form{
    position: fixed;
    top:20%;
    right: 14%;
    background-color: white;
    border-radius: 3mm;
    width: 50px;
    height: 200px;

}

/* bare droite fixed */
.material-icons{
    font-size: 50px;
}

#Add_Question:hover {
    opacity: 70%;
    cursor: pointer;
}
#Privacy:hover {
    opacity: 70%;
    cursor: pointer;
}
#Add_Banniere:hover {
    opacity: 70%;
    cursor: pointer;
}
#Add_Dates:hover {
    opacity: 70%;
    cursor: pointer;
}

#submit_form {
    text-align: center;
}

#div_infos {
    background-color: white;
    border-radius: 5mm;
}

