main {
    min-height: 85.5vh;
}

#footer {
  left: 0;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}
.lfooter {
    margin-top: 15px;
    font-size: 20px;
}

#l4footer {
    margin-top: 5px;
}



#cond:hover{
    cursor: pointer;
    color: #7D9093;
}

#cond{
    margin-top: 15px;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(36,71,77,1);
    text-decoration: none;
}
