
/*=======
  Avatar
========*/
#avatar_header {
    height: 3vw;
    width: 3vw;
    border-radius:50%;
}

#avatar_header:hover {
    opacity: 0.6;
    cursor: pointer;
}


/*=======
  Liens
========*/

.link_header {
    color: #5a6268;
    margin-right: 3vw;
    font-size: 1.6vw;
}

.link_header:hover {
    text-decoration: none;
    color: #5a6268;
    opacity: 0.7;
}
