.DashboardCard_Container{
    margin-left: 10%;
    margin-right: 10%;
}
.New_Forms{
    background-color: #ffffff;
}
#Create_Forms{
    margin-left: 10%;
    text-align: top;
}
#Create_Form{
    margin-left:10%;    
}
.info_Formulaire{
    margin-bottom: 0px;
    border-top:1px solid white;
    background-color: #ffffff;
    vertical-align: bottom;
}

.image_Formulaire{
    width: 200px;
    height: 200px;
}
.Formulaire{
    background-color: #EAEAEA;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right : 70px;
    margin-top: 140px;
}

.Formulaire:hover{
    opacity: 70%;
    cursor: pointer;
}
/*Css pour la partie show du formulaire*/
.material-icons{
    font-size: 50px;
}
#Modify_Form{
    width: 50px;
    height: 50px;
    margin-left: 95%;
    cursor: pointer;
}