
/*=== Titre formulaire ===*/
#title {
    border-radius: 10px;
    border-top: 1.4px solid #E7E7E7;
    border-bottom: 1.4px solid #E7E7E7;
    border-right:1.4px solid #E7E7E7;
    border-left: 1.4px solid #E7E7E7;
    background-color: white;
    min-height: 8.5rem;
    margin-bottom: 3rem;
}

#info{
    background-color: white;
    border-radius: 3mm;
}
.material-icons{
    font-size: 50px;
}

#Modify_Form{
    margin-left: 90%;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    height: 3.3rem;
    width: 3.3rem;
    text-align: center;
}

#Modify_Form:hover {
    cursor: pointer;
    color: #1b4b72;
}


h2 {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    font-size: 2.7rem;
}

/*=== Questions ===*/

.div_question {
    border: 1.4px solid #E7E7E7;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.question {
    padding-top: 1rem;
    margin-left: 1rem;
}

.question > h3 {
    font-size: 1.5rem;
}

.proposition {
    margin-left: 4rem;
    font-size: 1.3rem;
    padding: 1rem;
    line-height: 1.4rem;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.form-check {
    margin-bottom: 1.4rem;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

#envoyer {
    text-align: center;
}
.textarea{
    resize: none;
}
.Liste_Reponse{
    margin-left: 5%;

}
.Reponse_Texte{
    /* width: inherit; */
    height:40px;
    background-color: #F9F9F9;
    margin-bottom: 3px;
    margin-right: 5%;
    margin-left: 2%;
    line-height: 2;
    font-size: 1.3rem;
}
.Reponse_Texte_cacher{
    display: none;
    width : inherit;
    height:40px;
    background-color: #F9F9F9;
    margin-bottom: 3px;
    margin-right: 5%;
    margin-left: 2%;
    line-height: 2;
    font-size: 1.3rem;
}
.Masquer_Reponses{
    margin-left: 30%;
    margin-right: 30%;
}
.Afficher_Reponses{
    margin-left: 30%;
    margin-right: 30%;
}

/*
Bouton retour
*/

#back {
    border-radius: 50%;
    background-color: white;
    height: 3.3rem;
    width: 3.3rem;
    text-align: center;
    float: left;
    margin-left: 50px;
}

#back > a {
    text-decoration: none;
    color: black;
}

#back_logo {
    margin-top: auto;
    margin-bottom: auto;
    width: 3rem;
    height: 3rem;
}

#back_logo:hover {
    cursor: pointer;
    color: #761b18;
}

#Delete_Form {
    border-radius: 50%;
    background-color: white;
    margin-left: 50px;
    height: 3.3rem;
    width: 3.3rem;
    text-align: center;
    float: right;
    margin-right: 30px;
}

#Delete_Form > a {
    text-decoration: none;
    color: black;
}

#Delete_Form:hover {
    cursor: pointer;
    color: #1b4b72;
}
